<!-- Modal -->
<div  class="edit_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="" method="POST" id="edit_post_form">
        <!-- content -->
        <div class="modal-body">
            <!-- TODO: load original post content -->
              <textarea rows="3" name="post_content"></textarea>
          
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary btn-sm">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>