<!-- TODO: Change user to owner of post -->
<div class="post__header">
    <!-- load user pic -->
    <img src="<?php echo load_profile_email($p->getAuthorEmail()) ?>" class="post__header__author-photo">
    <!-- <p class="post__header__info info__author"><a class=""><?php echo $user->get_first_name() . " " . $user->get_last_name() ?></a></p> -->

    <p class="post__header__info info__author">
        <a class="" href="<?php echo $p->getAuthorEmail(); ?>"><?php 
            echo getUserNameByEmail($p->getAuthorEmail(),$pdo); 
        ?></a>
    </p>

    <p class="post__header__info info__date"><?php echo $p->getPostTime() ?></p>
</div>
<div class="post__content">
    <p class="post__content__p"><?php echo $p->getContent() ?></p>
</div>

<hr>
<!-- ' . $c->getCommentContent() . '  (' . getUserNameByEmail($c->getAuthor(), $pdo) . ')-->
<div class="comment__content" id="<?php echo 'post__' . $p->getPostID() . ''?>">
    <?php
    foreach ($comments as $c) {
        $pic = load_profile_email($c->getAuthor());

        echo '
            <div class="comment__details">  
                <img src="'. $pic .'" class="comment__pic">
                <div class="commenter">
                    <p class="comment__header__info info__commentor"><a href="javascript:void(0);">' . getUserNameByEmail($c->getAuthor(), $pdo) . '</a></p>
                    <p class="comment__content__p">'. $c->getCommentContent() .'</p>

                    <p class="comment__header__info info__comment__date">'. $c->getCommentTime() .'</p>
                </div>

            </div>
        ';
    }
    ?>
</div>

<div class="post__actions">

    <div class="actions--setting actions--decor">
        <a href="javascript:void(0);" class="thumb_up">
            <i class="fa fa-thumbs-up"> <?php echo getLikeCount($p->getPostId(), $pdo)["count(liked)"] ?></i>
        </a>
    </div>

    <div class="actions--setting actions--decor">
        <a href="javascript:void(0);" class="share_content">
            <i class="fa fa-share"></i>
        </a>
    </div>


    <div class="actions--setting actions--decor actions__comment">
        <form action="" method="POST" class="post_comment_form">
            <input type="text" name="post_comment_content" placeholder="Write some comment" required="true" oninvalid="this.setCustomValidity('Say something ...')" 
            oninput="setCustomValidity('')" 
            />
            <input type="hidden" name="post__id" value="<?php echo $p->getPostId(); ?>" />
           
            <a href="javascript:void(0);" onclick="$(this).closest('form').submit()"><i class="fa fa-comment"></i></a>
                
        </form>
    </div>

</div>
<br><br>