        <!-- update info page -->
        <div id="update-info-page" class="update-info__modal">
          <!-- page content -->
          <div class="modal__page">
            <span onclick="close_update_info_page(this.id)" class="modal__page-close">&times;</span>

            <p class="modal__page--titles">Describe who you are</p>
            <!-- describe who you are-->
            <?php
            if(!empty($info->get_workplace())) {
                            // foreach($info->get_workplace() as $workplace) {
                echo '<p class="modal__page--add" id="description" onclick="show_modal(this.id)">'. $info->get_description() .'</p>';
                            // }
            } else {
                echo '<p class="modal__page--add" id="description" onclick="show_modal(this.id)">Add Workplace</p>';
            }
            ?>
            <form method="POST" action="submit_info.php" id="description_input">
                <input type="text" name="description" class="modal__page--text">
                <button type="submit" class="btn btn-primary modal__page--btn">Save</button>
                <button type="button"class="btn btn-secondary modal__page--btn" id="description_close" onclick="close_modal(this.id)">Cancel</button>
            </form>
            <p class="modal__page--titles">workplace</p>
            <!-- echo all workplaces and schools-->
            <?php
            if(!empty($info->get_workplace())) {
                            // foreach($info->get_workplace() as $workplace) {
                echo '<p class="modal__page--add" id="workspace" onclick="show_modal(this.id)">'. $info->get_workplace() .'</p>';
                            // }
            } else {
                echo '<p class="modal__page--add" id="workspace" onclick="show_modal(this.id)">Add Workplace</p>';
            }
            ?>
            <form method="POST" action="<?php echo htmlspecialchars($_SERVER["PHP_SELF"]);?>" id="workspace_input">
                <input type="text" name="workplace" class="modal__page--text">
                <button type="submit" name="input_save" class="btn btn-primary modal__page--btn">Save</button>
                <button type="button"class="btn btn-secondary modal__page--btn" id="workspace_close" onclick="close_modal(this.id)">Cancel</button>
            </form>

            <p class="modal__page--titles">Education</p>
            <?php
            if(!empty($info->get_education())) {
                            // foreach($info->get_education() as $education) {
                echo '<p class="modal__page--add" id="education" onclick="show_modal(this.id)">'. $info->get_education() .'</p>';
                            // }   
            } else {
                echo '<p class="modal__page--add" id="education" onclick="show_modal(this.id)">Add education</p>';
            }
            ?>
            <form method="POST" action="<?php echo htmlspecialchars($_SERVER["PHP_SELF"]);?>" id="education_input">
                <input type="text" name="education" class="modal__page--text">
                <button type="submit" class="btn btn-primary modal__page--btn">Save</button>
                <button type="button" class="btn btn-secondary modal__page--btn" id="education_close" onclick="close_modal(this.id)">Cancel</button>
            </form>
            <!-- echo current city, hometown, and relationship -->
            <p class="modal__page--titles">Current City</p>
            <?php
            if(empty($info->get_current_city())) {
                echo '<p class="modal__page--add" id="current_city" onclick="show_modal(this.id)">Add current city</p>';
            } else {
                echo '<p class="modal__page--add" id="current_city" onclick="show_modal(this.id)">' . $info->get_current_city() . '</p>';
            }
            ?>
            <form method="POST" action="<?php echo htmlspecialchars($_SERVER["PHP_SELF"]);?>" id="current_city_input">
                <input type="text" name="current_city" class="modal__page--text">
                <button type="submit" class="btn btn-primary modal__page--btn">Save</button>
                <button type="button" class="btn btn-secondary modal__page--btn" id="current_city_close" onclick="close_modal(this.id)">Cancel</button>
            </form>
            <p class="modal__page--titles">Hometown</p>
            <?php
            if(empty($info->get_hometown())) {
                echo '<p class="modal__page--add" id="hometown" onclick="show_modal(this.id)">Add hometown</p>';
            } else {
                echo '<p class="modal__page--add" id="hometown" onclick="show_modal(this.id)">' . $info->get_hometown() . '</p>';
            }
            ?>
            <form method="POST" action="<?php echo htmlspecialchars($_SERVER["PHP_SELF"]);?>" id="hometown_input">
                <input type="text" name="hometown" class="modal__page--text">
                <button type="submit" class="btn btn-primary modal__page--btn">Save</button>
                <button type="button" class="btn btn-secondary modal__page--btn" id="hometown_close" onclick="close_modal(this.id)">Cancel</button>
            </form>
            <p class="modal__page--titles">Relationship</p>
            <?php
            if(empty($info->get_relationship())) {
                echo '<p class="modal__page--add" id="relationship" onclick="show_modal(this.id)">Add relationship</p>';
            } else {
                echo '<p class="modal__page--add"  id="relationship" onclick="show_modal(this.id)">' . $info->get_relationship() . '</p>';
            }
            ?>
            <form method="POST" action="<?php echo htmlspecialchars($_SERVER["PHP_SELF"]);?>" id="relationship_input">
                <input type="text" name="relationship" class="modal__page--text">
                <button type="submit" class="btn btn-primary modal__page--btn">Save</button>
                <button type="button" class="btn btn-secondary modal__page--btn" id="relationship_close" onclick="close_modal(this.id)">Cancel</button>
            </form>
            <p class="modal__page--titles">About Info</p>
            <p class="modal__page--add">Edit Your About Info</p>
        </div>
        <!-- </form> -->
    </div>