.content__middle {
	> * {
    	box-shadow: 1px 1px 5px rgba(0,0,0,.2);
    	margin: 0;
    	margin-bottom: 20px;
        padding: 5%;

    }

    .middle__timeline {
    	ul {
    		// @include clearfix;
    		margin: 0;
    		padding: 0;
    		li {
    			margin: -20px 0;
    			padding: 0;
    			text-align: center;
    			text-transform: uppercase;

    			a {
    				color: lighten($black, 60%);
    				text-decoration: none;
    				font-size: 0.8em;
    				display: inline-block;
    				width: 100%;

    				.timeline__icon {
    				    display: block;
    				    font-size: 1.5em;
    				    padding: 10px 0 5px;
    			    }


    			}

    			a:hover {
    				color: $link-blue;
    			}

    			.active {
    				color: $link-blue;
    			}
    		}
    	}
    }

    .middle__status {
    	background-color: lighten($black, 97%);
    	ul {
    		margin: 0;
    		padding: 0;

    		li {
    			margin: -15px 0 15px;
    			padding: 0;
    			font-size: 0.9em;

    			i {
    				padding-right: 5px;
    			    font-size: 1.2em;
    			    color: lighten($black, 40%);
    			}
    		}

    		.status--text {
    			text-align: center;
    			text-transform: capitalize;
    			cursor: pointer;
    		}
    	}
        // handle posting...
        form {
            textarea {
                border: none;
                resize: none;
                
                margin-bottom: -6.5%;
                @include resize-to-full-width;
       
                :focus {
                    // border: none;
                }

            }
            // posting button
            input {
                // display: none;
                margin: 0;
                padding: 5px 10px;
                // margin-left: -30px;
                background-color: lighten($black, 97%);
            }
        }
    	

    }

    .middle__posts {
        position: relative;
    	.post__header {
    		margin: 0;
    		margin-top: -15px;
    		margin-bottom: 15px;
    		padding: 0;
    		overflow: auto;
            position: relative;
            overflow: hidden;

    		.post__header__author-photo {
	    		width: 50px;
                height: 50px;
	    		float: left;
	    		// border-radius: 50%;
    	    }

    	    .post__header__info {    		
	    		margin: 0;
	    		padding: 0;
	    		// margin-left: 15%;
	    		font-size: 0.8em;
	    	}

	    	.info__author {
                margin-left: 15%;
                font-size: 0.8em;
	    		margin-top: 5px;
	    		font-weight: bold;
	    		a {
	    			color: $link-blue;
	    		}
	    		a:hover {
	    			text-decoration: underline;
	    			cursor: pointer;
	    		}
	    	}

	    	.info__date {
                margin-left: 80px;
                font-size: 0.8em;
	    		color: lighten($black, 70%);
	    	}
            
            
    	}
    	// setting button for edit, delete
        .cog {
            position: absolute;     // stay in a fixed position
            right: 20px;
            top: 15px;
            color: lighten($black, 70%);
            cursor: pointer;
            // dropdown: edit, delete
            ul {
                // display: none;
                position: absolute; // stay in a fixed position
                right: 1px;         // set a number to 'initialize' the right value
                width: 200px;
                margin-top: 5px;
                margin: 0;
                padding: 0;
                -webkit-box-shadow: 0 10px 6px -6px gray;
                -moz-box-shadow: 0 10px 6px -6px gray;
                box-shadow: 0 10px 6px -6px gray;
                border: 1px solid lighten(black, 95%);
                z-index: 200;
                li {    
                    display: block;             // 100% width        
                    cursor: pointer;
                    font-size: 0.8em;
                    a {
                        display: block;
                        padding: 10px;
                        margin: 0;
                        color: black;
                        text-decoration: none;
                    }
                    a:hover {
                        color: white;
                        background-color: $facebook-blue;
                    }

                }
            }
        }

    	.post__content {

    		.post__content__p {
    			margin: 0;
    			margin-bottom: 10px;
    			padding: 0;
    			font-size: 0.8em;
    		}
    		.post__content__img {
    			@include resize-to-full-width;
    		}
    	}

    	.post__actions {
    		// margin-top: 10px;
            padding: 0;
            margin: 0;
    		margin-bottom: 15px;
    		overflow: hidden;

    		.actions--setting {
    			display: inline-block;   			
    			// font-size: 1.2em;
    			margin-right: 15px;   			
    		}

    		.actions--decor {
    			color: lighten($black, 60%);
    			cursor: pointer;
    		}
    		.actions--decor:hover {
    			color: $link-blue;
    		}

    		.actions__comment {
    			float: right;
    		}

    	}
    .comment__content {
        margin-top: 30px;
        // margin-left: 20px;
        // background-color: lighten(black, 96%);
        p {
            font-size: 0.8em;
        }
        .comment__pic {
            width: 40px;
            height: 40px;
            float: left;
        }
    }
    }
}