.content__right {
	.right__contacts {
		text-align: center;
		
		a {
			margin: 0;
			padding: 0;
			display: inline-block;
			margin-bottom: 20px;
			cursor: default;

			text-decoration: none;
			text-align: center;

			img {
				width: 30%;
				border-radius: 50%;
				cursor: pointer;
		    }

		}
		.contacts__setting {
		    text-decoration: none;
		    margin-top: 40px;

		    i {
		    	padding: 12px;
		    	border-radius: 50%/50%;
		    	font-size: 2.0em;
		    	background-color: lighten($black, 90%);
		    	color: lighten($black, 70%);
		    }
		}
		
	}
}