.cover {
	/* general settings */
	margin-right: -15px;
    margin-left: -15px;
    padding: 0;
    position: relative;
    overflow: hidden;

    .cover__container {
    	width: 100%;
    	min-height: 450px;
    	background-image: url("../img/cover/frozen-fruits-crop.png");
    	background-repeat: no-repeat;
    	background-size: cover;

    	.cover__profile-container {
    	z-index: 10;
    	position: absolute;
    	width: 500px;
    	height: 200px;
    	left: 10%;
    	bottom: 10%;
    	overflow: hidden;
    	font-family: "Open Sans", Helvetica, Arial;
    	color: white;

    	.cover__photo {
    		width: 30%;
    		height: auto;
    		border-radius: 50%;
    		float: left;
    	}

    	.cover__username {
    		margin-top: 6%;
    		margin-left: 35%;
    		font-size: 2.0em;
    		
    	}

    	.cover__update-info {
    		float: left;
    		margin-left: 5%;
            text-align: center;
    	}

    	.cover__view-at {
           text-align: center;
    		margin: 0;
    		padding: 0;
    		margin-left: 58%;
            margin-right: 18%;
    	}
    	.cover__update-info--decor {
            cursor: pointer;
    		padding: 3px 10px;
    	    font-variant: small-caps;
    	    font-weight: bold;
    	    background: transparent; //Fall-back for browsers that don't support rgba
    		background: rgba(255,255,255, 0.5);
    	}

    }
    }
}