$white:					#fff;
$white-95:				#f2f2f2;
$black:					#000;
$lightblue:				#476bb8;
$darkblue:				#0000CD;
$lightgray:				#DCDCDC;

$facebook-blue:			#3b5998;
$facebook-lightblue:	#5a7abf;
$facebook-darkblue:		#324b81;

$icon-hover-color:		#8b9dc3;
$search-bar-color:		#91a6d4;

$content-title:			#696969;
$content-icon-bg:		#eee;
$content-position:		#4d4d4d;
$content-address:		#eee;

$link-blue:				#1dcaff;